# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mead.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\C#\Mead\.idea\.idea.Mead\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
